*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff7ee;
}

header {
    text-align: center;
    background-color: lightskyblue;
    padding: 15px;
    margin-bottom: 10px;
    animation: stealth 10s alternate infinite;
    transition: 5s;
}

header:hover {
    font-size: 4rem;
    transition: 1s;
}

.row {
    display: flex;
    width: 100%;
    animation: rotate2 30s linear infinite;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    text-align: center;
    align-items: center;
    padding: 10px;
}

input {
    width: 100px;
    padding: 2px;
    font-size: .8rem;
    animation: rotate 3s alternate infinite;
}

#submit-emp {
    font-size: 1.2rem;
    transition: 10s;
}

#submit-emp:hover {
    font-size: 8rem;
}


table {
    border-collapse: collapse;
    width: 90%;
}

th, td {
    border: 1px solid black;
    text-align: center;
}
th {
    background-color: #87cefa;
}

tr:nth-child(even){
    background-color: rgb(224, 224, 224);
}

tr:nth-child(odd){
    background-color: rgb(255, 255, 255);
}

#total {
    background-color: red;
}

h2 {
    margin-left: 10px;
    animation: slide 8s alternate infinite;
}

button {
    cursor: pointer;
    padding: 3px;
    border-radius:2em;
    color:#fff;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    animation: rotate2 10s linear infinite;
}

button:hover {
    background-color:#4095c6;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(90deg);
    }
    20%{
        transform: rotate(900deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes stealth {
    75% {
        color: lightskyblue;
    }
    100% {
        color: #fff7ee;
    }
}