*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff7ee;
}

header {
    text-align: center;
    background-color: lightskyblue;
    padding: 15px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    text-align: center;
    align-items: center;
    padding: 10px;
}

input {
    width: 100px;
    padding: 2px;
    font-size: .8rem;
}

#submit-emp {
    font-size: 1.2rem;
}

table {
    border-collapse: collapse;
    width: 90%;
}

th, td {
    border: 1px solid black;
    text-align: center;
}
th {
    background-color: #87cefa;
}

th:hover {
    background-color: #68a1c5;
    cursor: pointer;
}

tr:nth-child(even){
    background-color: rgb(224, 224, 224);
}

tr:nth-child(odd){
    background-color: rgb(255, 255, 255);
}

#total {
    background-color: red;
}

h2 {
    margin-left: 10px;
}

button {
    cursor: pointer;
    padding: 3px;
    border-radius:2em;
    color:#fff;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}

button:hover {
    background-color:#4095c6;
}
