table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}
th {
    background-color: grey;
}

tr:nth-child(even){
    background-color: lightgrey;
}

#total {
    background-color: red;
}